.title {
    font-family: Verdana;
    color: black;
    padding: 0.01%;
    margin: 0.0%;
}

.subtitle {
    font-family: Georgia;
    color: #f4e21d;
    padding: 0.01%;
    margin: 0.0%;
}

a {
    color: #0002a8;
}

a:hover {
    color: #0003e2;
}

body {
    background-color: #44b3e2;
}